[submodule "benny"]
	path = services/benny
	url = https://github.com/pqp/benny
[submodule "services/mumble-json"]
	path = services/mumble-json
	url = https://github.com/pqp/mumble-json
[submodule "botamusique"]
	path = services/botamusique
	url = https://github.com/azlux/botamusique
